{% extends "index/wbase.html" %}
{% load staticfiles %}
{% load static %}

{% block script %}
<script type="text/javascript" src="{% static "./js/details.js" %}"></script>

{% endblock %}

{% block content %}
{% if service %}
<!-- massageDetails page-->
<div id="panda_massageDetails" class="mp-pageContent container-fluid" data-mpController="massageDetailsPage">
  <div class="panda_massageDetails-partOne">
      <div class="mp-breadcrumb mp-smallScreenHide">
        <ol class="breadcrumb">
          <li>
            <a class="mp-pageHeader" data-mpPageId="panda_bookMassage" href="{% url 'services' %}">Book Massage</a>
          </li>
          <li class="active mp-currentDetailsPage">In-Home {{ service.service_type }} for {{ service.service_time|stripZero }} Hour{{ service.service_time|pluralize }}</li>
        </ol>
      </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mp-smallScreenHide">
      <div class="mp-left mp-massageDetails">
        <img class="mp-massageDetails-image" src="{% get_static_prefix %}images/{{ service.images.all.0.image }}"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mp-smallScreenPadding">
      <div class="mp-massageDetails-panel mp-right">
        <div class="mp-massageDetails-title">
          In-Home {{ service.service_type }} for {{ service.service_time|stripZero }} Hour{{ service.service_time|pluralize }}
        </div>
        <div id="wsite-com-product-price-area" class="wsite-com-product-show-price-range-on-sale">
          <div class="wsite-com-product-price-container">
            <!-- take advantage of div filter to force precision -->
            {% if service.service_sale %}
            <div id="wsite-com-product-price" class="wsite-com-product-price-container">
              <span class="wsite-com-product-price-currency-prefix">$</span><!--
              --><span class="wsite-com-product-price-amount">{{ service.service_fee|div:1 }}</span><!--
              --><span class="wsite-com-product-price-currency-suffix"></span>
            </div>
            <div id="wsite-com-product-price-range" class="wsite-com-product-price-container">
              <span class="wsite-com-product-price-amount">${{ service.service_sale|div:1 }}</span>
            </div>
            {% else %}
            <span class="wsite-com-product-price-amount">${{ service.service_fee|div:1 }}</span>
            {% endif %}
          </div>
        </div>
        <p class="mp-massageDetails-description">
          {{ service.service_detail }}
        </p>
        <p class="mp-massageDetails-info">
          Please book your massage session at least 2 hours in advance.We will reach out to our massage therapists once you have placed your order. We <strong>will not</strong> charge your card until a th
          erapist responds and confirms the booking.
        </p>
        <form id="massageDetails-form" action="{% url 'serviceCheckout' %}" method=POST onsubmit="return validate()">
        <div class="mp-massageDetails-form">
        {% csrf_token %}
          <input type="hidden" name="serviceId" value="{{ service.id }}" />
          <div id="mp-massageDetails-panelAlert" class="alert alert-danger" role="alert" style="display:none">Please select <span class="alertInfo"></span></div>
          <div class="btn-group mp-massageDetails-input">
            <input class="mp-massageDetails-DatePicker" id="datepicker" placeholder="Select Date" name="massageDetailsDate" type="text" />
          </div>
          <div class="btn-group mp-massageDetails-input">
            <input type="hidden" name="massageDetailsTime" id="timepicker" value=""/>
            <button type="button" class="btn btn-default dropdown-toggle massageDetailsTime" data-toggle="dropdown" aria-expanded="false" onclick="massageDetailsTimeForList()">Select Time<span class="glyphicon glyphicon-tri
              angle-bottom" aria-hidden="true"></span>
            </button>
            <ul id="massageDetails_timeList" class="dropdown-menu" role="menu">
            </ul>
          </div>
          <div class="btn-group mp-massageDetails-input">
            <input type="hidden" name="genderPreferred" id="genderPreferred" value=""/>
            <button type="button" class="btn btn-default dropdown-toggle genderPreferred" data-toggle="dropdown" aria-expanded="false">Gender Preferred<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <ul id="massageDetails_genderPreferredList" class="dropdown-menu" role="menu">
              <li class="mp-item">
                <a>Either</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Male Preferred</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Female Preferred</a>
              </li>
            </ul>
          </div>
          {% if couple %}
          <div class="btn-group mp-massageDetails-input">
            <input type="hidden" name="massage1" id="massage1" value=""/>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Massage 1<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <ul id="massageDetails_massage1List" class="dropdown-menu" role="menu">
              <li class="mp-item">
                <a>Swedish Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Deep Tissue Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Couple Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Sports Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Shiatsu Massage</a>
              </li>
            </ul>
          </div>
          <div class="btn-group mp-massageDetails-input">
            <input type="hidden" name="massage2" id="massage2" value=""/>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Massage 2<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </button>
            <ul id="massageDetails_massage2List" class="dropdown-menu" role="menu">
              <li class="mp-item">
                <a>Swedish Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Deep Tissue Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Couple Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Sports Massage</a>
              </li>
              <li class="divider">
              </li>
              <li class="mp-item">
                <a>Shiatsu Massage</a>
              </li>
            </ul>
          </div>
          <div class="checkbox mp-massageDetails-input mp-massageDetails-needTable">
            <input name="backToBack" type="checkbox"><label>Accept back-to-back</label>
          </div>
          {% endif %}
          <div class="mp-massageDetails-input">
            <input type="text" placeholder="Zipcode" id="zipcode" name="zipcode" value=""></input>
          </div>
          <div class="mp-massageDetails-textarea">
            <textarea name="parkingInfo" val="" placeholder="please provide any additional directions to your location. E.g, “ring Buzzer 32” or “first house on the left, blue door" class="form-control" rows="3" cols="50"></textarea>
          </div>
          <div class="checkbox mp-massageDetails-input mp-massageDetails-needTable">
            <input name="needTable" type="checkbox" checked><label>Need a massage table</label>
          </div>
          <div class="mp-checkout mp-pageHeader" data-mpPageId="panda_checkout" data-mpController="checkoutPage" >
            <div class="mp-pageId" style="display:none">panda_massageDetails</div>
            <input type="submit" value="Checkout" class="btn btn-success">
          </div>
        </div>
        </form>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>
{% else %}
{% include 'services/defaultDetails.html' %}
{% endif %}

{% endblock %}
