{% extends 'index/wbase.html' %}

{% load staticfiles %}
{% load static %}

{% block style %}
<style type="text/css">#wsite-com-product-images .wsite-imageaspectratio-image-height, .wsite-com-category-product-image-height.wsite-imageaspectratio-image-height, .wsite-product .wsite-imageaspectratio-image-height, .wsite-com-category-product-featured-image-height.wsite-imageaspectratio-image-height { margin-bottom: 75% !important } .wsite-com-category-subcategory-image-height.wsite-imageaspectratio-image-height { margin-bottom: 100% !important } .wsite-com-category-product-group .wsite-com-column { width: 25.00%} .wsite-com-category-product-featured-group .wsite-com-column { width: 25.00%} .wsite-com-category-subcategory-group .wsite-com-column { width: 33.33%} </style>
{% endblock %}

{% block docReady %}
$(".wsite-com-category-product-link").on("click", function(e) {
      $("#serviceId").val(($(this).children(".wsite-com-category-product-name").attr("serviceId")));
      e.preventDefault();
      $("#serviceRequestForm").submit();
});
{% endblock %}

{% block content %}

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content">
      <div id="wsite-com-store">
        <div id="wsite-com-store-inner">
          <div class="wsite-com-content ">
            <div class="wsite-com-category-subcategory-group wsite-com-column-group"></div>
            <div style="clear:both"></div>
            <div id="wsite-com-product-list">
              <div id="wsite-com-category-product-group" class="wsite-com-category-product-group clearfix">
                {% if service_list %}
                <form id="serviceRequestForm" action="{% url 'serviceDetails' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="serviceId" id="serviceId">
                </form>
                {% for service in service_list %}
                <div class="wsite-com-category-product wsite-com-column" data-id="42" style="height: 270px;">
                  <div class="wsite-com-category-product-wrap">
                    <a class="wsite-com-category-product-link wsite-com-link" href="">
                      <div style="position:relative">
                        <div class="wsite-com-category-product-image-container wsite-imageaspectratio-image-container">
                          <div class="wsite-com-category-product-image-height wsite-imageaspectratio-image-height">
                          </div>
                          <div class="wsite-com-category-product-image-wrap wsite-imageaspectratio-image-wrap">
                            <img class="wsite-com-category-product-image wsite-imageaspectratio-image" src="{% get_static_prefix %}images/{{ service.images.all.0.image }}" style="width:100.5%;top:0%;left:-0.25%">
                          </div>
                        </div>
                        <div class="wsite-com-category-product-cover"></div>
                      </div>
                      <div class="wsite-com-category-product-name wsite-com-link-text" serviceId="{{ service.id }}">
                        In-Home {{ service.service_type }} for {{ service.service_time|stripZero }} Hour{{ service.service_time|pluralize }}
                      </div>
                    </a>
                    <div class="wsite-com-product-price single-sale-price">
                    {% if service.service_sale %}
                      <div class="wsite-com-price wsite-com-category-product-price ">
                        ${{ service.service_fee|div:1 }}
                      </div>
                      <div class="wsite-com-category-product-price wsite-com-sale-price">
                        ${{ service.service_sale|div:1 }}
                      </div>
                    {% else %}
                      <div class="wsite-com-category-product-price wsite-com-sale-price">
                        ${{ service.service_fee|div:1 }}
                      </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
				<hr class="store-hr">
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div id="wsite-com-product-list-paging" class="clearfix">
            </div>
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock content %}
