{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block script %}
<!-- Facebook Conversion Code for mp__fb_conversion -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6031251975792', {'value':'{{total}}','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6031251975792&amp;cd[value]={{total}}&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<!-- Google Code for mp_conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 954461676;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "c15oCOPRu1wQ7NuPxwM";
var google_conversion_value = {{total}};
var google_conversion_currency = "USD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/954461676/?value={{total}}&amp;currency_code=USD&amp;label=c15oCOPRu1wQ7NuPxwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- ShareASale Tracking Code -->
<img src="https://shareasale.com/sale.cfm?amount={{total}}&tracking={{txid}}&transtype=sale&merchantID=60631" width="1" height="1">

<!-- Optimizely Tracking Code -->
<script>
    window.optimizely = window.optimizely || [];
    window.optimizely.push(['trackEvent', 'eventName', {'revenue': {{total}}}]);
</script>

<!--Adroll Tracking Code -->
<script type="text/javascript">
  adroll_segments = "29d44d6e"
</script>

<!--GrowSumo Tracking Code -->
<script type='text/javascript'>
(function() {
  // signup value in cents (23.99)
  var amount = {{total}} * 100;
  // the type of currency
  var currency = 'USD';
  // important info about the signup
  var description = 'Massage Order';
  // email of the user signing-up
  var email = 'growsumo@massagepanda.com';
  // set the data for the signup,
  growsumo.setData(amount,
                  currency,
                  email,
                  description);
  // send the signup to our servers
  growsumo.createSignup();
})();
</script>
{% endblock %}

{% block content %}

<div id="panda_success" class="mp-pageContent jumbotron">
    <div class="panel panel-success mp-successInfo">
        <!-- Default panel contents -->
        <div class="panel-heading mp-successTitle">
            <img class="mp-successIcon" src="{% static "images/success_icon.png" %}"/><span>Your Order have been Processed</span>
        </div>
        <div class="panel-body">
            Thank you for choosing massage panda ! We hope you enjoy our service.
            You will receive confirmation message shortly.
        </div>
    </div>
</div>

{% endblock %}
