<div class="wsite-com-product-option-groups">


<div class="wsite-com-product-option wsite-com-product-option-dropdown" data-type="dropdown" data-option-name="Date">
<label class="wsite-com-product-label" for="wsite-com-product-option-Date">
<b class="wsite-com-product-title">Date</b>
</label>
<select id="wsite-com-product-option-Date" class="wsite-field" name="Date">
<option selected="selected" value="">--</option>
<option value="Today">
Today

</option>
<option value="Tomorrow">
Tomorrow

</option>
<option value="The day after tomorrow">
The day after tomorrow

</option>
</select>
</div>


<div class="wsite-com-product-option wsite-com-product-option-dropdown" data-type="dropdown" data-option-name="Time">
<label class="wsite-com-product-label" for="wsite-com-product-option-Time">
<b class="wsite-com-product-title">Time</b>
</label>
<select id="wsite-com-product-option-Time" class="wsite-field" name="Time">
<option selected="selected" value="">--</option>
<option value="9am">
9am

</option>
<option value="10am">
10am

</option>
<option value="11am">
11am

</option>
<option value="12am">
12am

</option>
<option value="1pm">
1pm

</option>
<option value="2pm">
2pm

</option>
<option value="3pm">
3pm

</option>
<option value="4pm">
4pm

</option>
<option value="5pm">
5pm

</option>
<option value="6pm">
6pm

</option>
<option value="7pm">
7pm

</option>
<option value="8pm">
8pm

</option>
<option value="9pm">
9pm

</option>
</select>
</div>


<div class="wsite-com-product-option wsite-com-product-option-dropdown" data-type="dropdown" data-option-name="Gender">
<label class="wsite-com-product-label" for="wsite-com-product-option-Gender">
<b class="wsite-com-product-title">Gender</b>
</label>
<select id="wsite-com-product-option-Gender" class="wsite-field" name="Gender">
<option selected="selected" value="">--</option>
<option value="Either">
Either

</option>
<option value="Male preferred">
Male preferred

</option>
<option value="Female preferred">
Female preferred

</option>
</select>
</div>
</div>
<div id="wsite-com-product-inventory">
<div id="wsite-com-product-quantity">
<label class="wsite-com-product-label" for="wsite-com-product-quantity-input">
<b class="wsite-com-product-title">Quantity</b>
</label>

<input id="wsite-com-product-quantity-input" class="wsite-form-input" name="Quantity" type="number" maxlength="3" max="" min="0" value="1" />

</div>

<div id="wsite-com-product-inventory-message">

</div>
</div>
