<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static "service_files/sites.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "service_files/fancybox.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "files/main_style.css" %}" title="wsite-theme-css">
<link href="{% static "service_files/css_004.css" %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!-- jQuery is used only for this example; it isn't required to use Stripe -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/my-stripe.js" %}"></script>
<script type="text/javascript" src="{% static "js/myjs.js" %}"></script>
</head>
<body class="no-header-page  wsite-theme-light  wsite-page-contact">
{% include "index/header.html" %}

<div id="main-wrap">
<div class="container">
<div id='wsite-content'>


<form action="{% url 'charge'%}" method="POST" id="product-option">
{% include "payment/payment-form.html" %}
<input type="hidden" name="serviceId" value="1"/>
{% csrf_token %}
</form>


<div id="wsite-com-product-tab">
</div>

</div>  <!--wsite-content -->
</div>
</div>
{% include "index/footer.html" %}
</body>
</html>
