container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python mpproject/manage.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mpproject.settings"
    PYTHONPATH: "/opt/python/current/app/mpproject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "mpproject/mpproject/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
