{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

<script type="text/javascript" src="{% static "./js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "./js/jquery-ui.min.js" %}"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static "js/bootstrap-editable.js" %}"></script>
<link href="{% static "css/bootstrap-editable.css" %}" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/logs.js" %}"></script>
{% if byNum %}
<script type="text/javascript" src="{% static "js/logsByNum.js" %}"></script>
{% else %}
<script type="text/javascript" src="{% static "js/allLogs.js" %}"></script>
{% endif %}

<style>
ul {
    list-style-type: none;
}
.rightLi {
    text-align: right;
    float: right;
    width: 50%;
}
.leftLi {
    text-align: left;
    float: left;
    width: 50%;
}
.delimitDiv {
    clear: both;
}
.logTable {
    width: 70%;
}

</style>
</head>
<body>
<a href="{% url 'manager' %}">home</a> |
<a href="{% url 'logs' %}">logs</a> |
<a href="{% url 'forwardLogs' %}">forward logs</a>
<div align="center">
<table class="logTable">

  <col width="50%">
  <col width="50%">
  <tr>
    <td align="middle">
Search:<input id="searchInList" type="text" size="45"/>
    </td>

  </tr>
  <tr>
    <td valign="top">
    <ul id="SMSList">
    <!-- dummy tail -->
    <li>
    <input type="hidden" name="timestamp" value="1015-07-03 23:05:57">
    </li>
    </ul>
    </td>
  </tr>
</table>
</div>

{% if byNum %}
<input type="hidden" id="number" value="{{ number }}" />
{% else %}
<div style="text-align:center">
<a href="#" style="font-size: 20px;" id="showMore" onclick="return showMore();">show more</a>
</div>
{% endif %}

</body>
</html>
