{% load staticfiles %}

{% if service_groups %}
      <form action="{% url 'generateCoupon' %}" method="post">
      {% csrf_token %}
        <select name="serviceGroup">
        {% for group in service_groups %}
          <option value="{{ group.id }}">{{ group.group_name }}</option>
        {% endfor %}
        </select> 
        <input type="number" step="any" placeholder="discount(e.g. 0.8)" name="discount">
        <input type="number" step="1" min="1" placeholder="Number" name="number">
        <input type="number" placeholder="quantity per coupon" name="quantity">
        Start date: <input type="date" name="start_date">
        End date: <input type="date" name="end_date">
        <input type="checkbox" name="isFlat">Flat<br>
        <input type="submit" />
      </form>
{% else %}
 <p>No groups are available.</p>
{% endif %}

