<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>SMS</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{% static "js/myjs.js" %}"></script>
<script type="text/javascript" src="{% static "js/sms.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/email.js" %}"></script>
</head>

<body>
<a href="{% url 'logs' %}">logs</a>
<a href="{% url 'configurations' %}">configurations</a>
<hr>

<div>
<h4>Get logs for a particular phone number</h4>
<form target="_blank" action="{% url 'getUserLogsByNum' %}" method="get">
{% csrf_token %}
<label for="number">Phone Number:</label><input type="number" name="number">
<input type="submit" value="query" >
</form>
</div>
<hr>

<form id="getcontactlistform">
<label>Male</label><input type="checkbox" name="gender" value="M" id="selectmale"/>
<label>Female</label><input type="checkbox" name="gender" value="F" id="selectfemale"/>
{% if area_list %}
<select name="areacode">
{% for area in area_list %}
  <option value="{{ area.0 }}">{{ area.1 }}</option>
{% endfor %}
</select>
{% endif %}
<input type="submit" value="show">
</form>

<div>
{% if staff_list %}
<form id="SMSForm" action="" method="post">
{% csrf_token %}
<table>
<tr>
<td>
<ul id="queryList" class="chk-container">
<h3><input type="checkbox" id="selectall4"/> Select All you queried</h3>
</ul>
</td>

<td>
<ul id="adminList" class="chk-container">
<h3><input type="checkbox" id="selectall1"/> Select All Admin</h3>
</ul>
</td>
<td>
<ul id="mList" class="chk-container">
<h3><input type="checkbox" id="selectall2"/> Select All Male</h3>
</ul>
</td>
<td>
<ul id="fList" class="chk-container">
<h3><input type="checkbox" id="selectall3"/> Select All Female</h3>
</ul>
</td>
</tr>

<tr>
<td>
number:<input type="number" name="num" />(note: country code is required!)<br/>
</td>
</tr>

<tr>
<td>
<label for="message">Message:</label><br>
<textarea rows="4" cols="50" name="message">
</textarea><br>
<input type="submit" id="cal" value="Send">
</td>
</tr>
</table>
</form>
{% else %}
<p>No staff are available.</p>
{% endif %}
</div>

<font color='red'>
<div style="padding-top:20px">
Response message:
<div id="myDiv">
</div>
</div>
</font>

<div style="padding-top:50px">
<h3>
SMS templates:
</h3>
<ul>
{% for template in template_list %}
<li>
{{ template.messageBody }}
</li>
{% endfor %}
</ul>
</div>


{% for staff in staff_list %}
{% if staff.title == 1 %}
<script>
addToList("adminList", 1, "{{staff.first_name}}", "{{staff.last_name}}", "{{staff.phone_number}}")
</script>
{% elif staff.gender == 'M' %}
<script>
addToList("mList", 2, "{{staff.first_name}}", "{{staff.last_name}}", "{{staff.phone_number}}")
</script>
{% else %}
<script>
addToList("fList", 3, "{{staff.first_name}}", "{{staff.last_name}}", "{{staff.phone_number}}")
</script>
{% endif %}
{% endfor %}

</body>
</html>
