{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block content %}

<div id="panda_apply" class="mp-pageContent container-fluid">
<div class="mp-paymentForm ">
<h2 align="center">Massage Therapist Registration Form</h2>
<form method="POST" id="payment-form" enctype="multipart/form-data" action="{% url 'createTherapist' %}" class="form-horizontal">
{% csrf_token %}
<div class="col-xs-12 col-sm-6 col-md-6">
<div class="mp-checkoutSection mp-checkoutSection-left">
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>English Name</label><br>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="First Name" name="first_name" required/>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="Last Name" name="last_name" required/>
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Gender</label><br>
        <select name="gender">
        <option value="0">
        Male
        </option>
        <option value="1">
        Female
        </option>
        </select> 
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Email</label><br>
        <input type="text" class="form-control" data-serverField="true" name="email" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Password</label><br>
        <input type="password" class="form-control" data-serverField="true" name="password" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Phone Number</label><br>
        <input type="text" class="form-control" data-serverField="true" name="phone" required/>
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Home Address, for Salary purpose only</label><br>
        <input type="text" class="form-control" data-serverField="true" placeholder="Address Line 1" name="al1" required/>
        <input type="text" class="form-control" data-serverField="true" placeholder="Address Line 2(Optional)" name="al2"/>

        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="City" name="city" required/>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="State" name="state" required/>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="Zip Code" name="zipcode" required/>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="Country" name="country" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>CA Massage License</label><br>
        <input type="file" class="form-control" name="massage_license" accept="image/*">
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Driver License</label><br>
        <input type="file" class="form-control" name="driver_license" accept="image/*">
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Emergency Contact</label><br>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="First Name" name="emergency_first_name" required/>
        <input type="text" class="form-control mp-halfwidth" data-serverField="true" placeholder="Last Name" name="emergency_last_name" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Emergency Contact Phone</label><br>
        <input type="text" class="form-control" data-serverField="true" name="emergency_phone" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Routing Number</label><br>
        <input type="text" class="form-control" data-serverField="true" name="routing_number" required/>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Account Number</label><br>
        <input type="text" class="form-control" data-serverField="true" name="account_number" required/>
    </div>

    <div class="form-group">
        <img src="{% static "images/check.jpg" %}" alt="Picture" style="width:auto;max-width:100%">
    </div>

</div>
</div>



<div class="col-xs-12 col-sm-6 col-md-6">
<div class="mp-checkoutSection mp-checkoutSection-right">
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Availability, Eg M, W, F 9am – 9pm</label><br>
        <textarea class="form-control mp-fieldRequired mp-checkoutNote" rows="4" cols="50" name="availability" required></textarea>
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Specialty of Massage, Eg, Swedish Massage</label><br>
        <textarea class="form-control mp-fieldRequired mp-checkoutNote" rows="4" cols="50" name="specialty" required></textarea>
    </div>

    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Working Area</label><br>
        <textarea class="form-control mp-fieldRequired mp-checkoutNote" rows="4" cols="50" name="working_area" required></textarea>
    </div>
    <div class="form-group">
        <label><span class="mp-asterisk">*</span>Professional Experience, Eg, Describe places worked before and how long you worked there</label><br>
        <textarea class="form-control mp-fieldRequired mp-checkoutNote" rows="4" cols="50" name="experience" required></textarea>
    </div>

    <div class="form-group">
        <label>Supplementary</label><br>
        <textarea class="form-control mp-fieldRequired mp-checkoutNote" rows="4" cols="50" name="supplementary"></textarea>
    </div>

<div>
By clicking "Submit", you confirm that you have read the <a href="#" class="mp-pageHeader" data-mpPageType="other" data-mpPageId="panda_terms">terms and conditions</a>, that you understand them and that you agree to be bound by them.
</div>
<div class="mp-checkout">
<button type="submit" class="btn btn btn-success">Submit</button>
</div>

</div>
</div>

</form>
</div>
</div>

{% endblock %}
