.paragraph {
    text-align: left; 
    color: #535353; 
    font-size: 17px; 
    line-height: 28px; 
    padding: 38px 0 50px; 
    font-family: 'Oxygen', sans-serif;
}

.clause {
    margin-top: 40px;
    margin-bottom: 50px !important;
    font-size: 17px !important;
    font-weight: bold !important;
}

.prose {
    font-size: 17px !important;
    line-height: 33px;
}

#panda_privacy {
    margin: 10px auto;
    width: 960px;
}

#panda_terms {
    margin: 10px auto;
    width: 960px;
}
