<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Panda</title>
        <link rel="stylesheet" href="{% static "./css/bootstrap.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/jquery-ui.min.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "./css/hover.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/panda.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/terms.css" %}" type="text/css">
	<link rel="stylesheet" href="{% static "./css/largeScreen.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/smallScreen.css" %}" type="text/css">
        
        <link rel="stylesheet" href="{% static "./css/sites.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/main_style.css" %}" type="text/css">
        <script type="text/javascript" src="{% static "./js/jquery.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/jquery.cookie.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/bootstrap.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/jquery.history.js" %}">
        </script>
		<script type="text/javascript" src="{% static "./js/pandaUtil.js" %}">
        </script>
        <script type="text/javascript" src="https://js.stripe.com/v2/">
        </script>
        <script type="text/javascript" src="{% static "./js/panda.js" %}">
        </script>

    </head>
    <body>
{% csrf_token %}

        <nav id="mp-navbar" class="navbar navbar-default navbar-fixed-top cbp-spmenu-push">
<div class="container">
   <div id="mp-showLeftPush" class="mp-navigation-mobileIcon mp-largeScreenHide">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
   </div>
   <div class="mp-pageHeader mp-IconDiv" data-mpShow="true" data-mpLoaded="true" data-mpPageId="panda_home">
      <img class="mp-pandaIcon" src="{% static "./images/pandaNewIcon.png" %}"/>
   </div>
   <div id="mp-showRightPush"  class="mp-navigation-mobileSetting mp-largeScreenHide">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
   </div>
   <div class="mp-navigation mp-smallScreenHide">
      <ul>
         <li>
            <a href="{% url 'index' %}">Home</a>
         </li>
         <li>
            <a href="{% url 'index' %}">Book Massage</a>
         </li>
         <li>
            <a href="{% url 'index' %}">Give a Gift</a>
         </li>
         <li>
            <a href="{% url 'index' %}">How It Works</a>
         </li>
         <li class="mp-loginHeader" >
            <a href="">Login</a>
         </li>
         <li role="presentation" class="dropdown" style="display:none">
            <a  class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
               <li class="logout"><a href="" class="mp-pageHeader" data-mpController="pandaLogoutPage" data-mpPageId="panda_logout" >Logout</a></li>
            </ul>
         </li>
      </ul>
   </div>
</div>
        </nav>
        <!-- Tab panes -->
        <div id="mp-mainContent" class="jumbotron cbp-spmenu-push">
                
        {% block content %}
        {% endblock %}
        </div>
        
        <div id="mp-footer" class="cbp-spmenu-push">
            <div class="mp-tableContainer mp-smallScreenHide">
                <table class="mp-footerTable">
                    <tr>
                        <td>
                            <a href="#" class="mp-pageHeader" data-mpController="pandaHelpCenterPage" data-mpPageId="panda_helpCenter">Help Center</a>
                        </td>
                        <td>
                            Made with <span class="mp-wordLove">love</span>
                            in Silicon Valley
                        </td>
                        <td class="mp-supportmassage">
                            Support@massagepanda.com
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="mp-pageHeader" data-mpPageId="panda_about">About Panda</a>
                        </td>
                        <td>
                        	<span>
                        		<a class="mp-socialLink mp-socialLink-facebook" href="http://facebook.com/massagepanda" target="_blank"></a>
                        		<a class="mp-socialLink mp-socialLink-twitter" href="http://twitter.com/massage_panda" target="_blank"></a>
    					<a class="mp-socialLink mp-socialLink-plus" href="http://plus.google.com/b/114942695031879741470/114942695031879741470/about" target="_blank"></a>
        				<a class="mp-socialLink mp-socialLink-pinterest" href="http://pinterest.com/massagepanda" target="_blank"></a>
					<a class="mp-socialLink mp-socialLink-mail" href="mailto:support@massagepanda.com" target="_blank"></a>
            			</span>
                        </td>
                        <td>
                            (855) 68-PANDA 9am-10pm
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="mp-pageHeader" data-mpController="pandaContactUsPage"  data-mpPageId="panda_contactUs">Contact Us</a>
                        </td>
                        <td>
                        </td>
                        <td>
                            <a href="#" class="mp-pageHeader mp-threewords" data-mpPageId="panda_apply">Apply as Therapist</a>
                        </td>
                    </tr>
                </table>
            </div>
            <hr class="mp-smallScreenHide"/>
            <div class="mp-footerDescription">
                ©2015 MassagePanda. All Rights Reserved. <a href="#" class="mp-pageHeader" data-mpPageType="other" data-mpPageId="panda_terms">Terms of Use</a> | <a href="#" class="mp-pageHeader" data-mpPageType="other" data-mpPageId="panda_privacy">Privacy Policy</a>. Copyright 2015, Ctrl X, Inc., 39105 Cedar Blvd, Newark, CA 94560.
            </div>
            <div class="mp-footerDescription mp-smallScreenHide">
                MASSAGEPANDA®, MASSAGE AT YOUR DOOR®, and FIND A PANDA® are trademarks of Ctrl X, Inc. The contents of the MassagePanda web site are 
            </div>
            <div class="mp-footerDescription mp-smallScreenHide">
                for informational purposes only. None of the information on the site should be construed or used as professional medical advice or consultation.
            </div>
        </div>
    </body>
</html>
