<div id="footer-wrap">
<div class="container">
<div class='wsite-elements wsite-footer'>
<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
<table class="wsite-multicol-table">
<tbody class="wsite-multicol-tbody">
<tr class="wsite-multicol-tr">
<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">



<div class="paragraph" style="text-align:left;"><span style="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &copy;2015 Massage Panda</span><br /></div>
</td><td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
<div class="paragraph" style="text-align:left;">Newark, CA 94560</div>
</td>                           <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
<div class="paragraph" style="text-align:left;">hello@massagepanda.com&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;605-659-6655</div>
</td>                   </tr>
</tbody>
</table>
</div></div></div></div>
</div><!-- end container -->
</div><!-- end footer-wrap -->
