<nav id="mp-navbar" class="navbar navbar-default navbar-fixed-top">
<div class="container">
<a class="mp-pandaIcon" href="www.facebook.com"></a>
<div class="mp-navigation">
<ul>
<li>
<a href="#/apricots" class="mp-pageHeader" data-mpShow="true" data-mpLoaded="true" data-mpPageId="panda_home">Home</a>
</li>
<li>
<a href="#/bananas" class="mp-pageHeader" data-mpPageId="panda_bookMassage" data-mpPageType="other">Book Massage</a>
</li>
<li>
<a href="#/coconuts" class="mp-pageHeader" data-mpPageId="panda_gift" data-mpPageType="other">Give a Gift</a>
</li>
<li>
<a class="mp-pageHeader" data-mpPageId="panda_login" data-mpPageType="popup" data-mpPageType="other">Login</a>
</li>
</ul>
</div>
</div>
</nav>
<!-- Tab panes -->
