{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block content %}

<div id="banner-wrap">
  <div id="banner" class="wsite-background wsite-custom-background">
    <div id="bannerleft">
      <div class="wsite-header"></div>
    </div>
    <!-- end banner-left -->
    <div id="bannerright" class="landing-banner-outer" style="background: none;width: 600px;">
      <div class="landing-banner-mid" style="display: table-cell;height: inherit;">
        <div class="landing-banner-inner" style="background-color: rgba(255,255,255,0.9);padding: 20px;">
          <div style="border: 1px solid #b9b9af;border-color: rgba(185,185,175,0.2);padding: 20px;">
            <h2 style="padding-bottom: 30px;background-size: 1.5em;"><span class="wsite-text wsite-headline">
              <font size="5">WHAT IS</font><br><font size="7">MassagePanda</font>
              </span>
            </h2>
            <p style="padding: 20px 30px;"><span class="wsite-text wsite-headline-paragraph">
              <span style=""><font size="4"><font color="#626262">We </font></font></span><font color="#626262" size="4">deliver a top-quality massage to your home, hotel, workplace or event whenever you want with our best hand-picked therapists.</font>
              </span>
            </p>
          </div>
        </div>
        <!-- end banner inner -->
      </div>
      <!-- end banner mid -->
    </div>
    <!-- end banner-right -->
    <div style="clear:both;"></div>
  </div>
  <!-- end banner -->
</div>
<!-- end banner-wrap -->

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div class="wsite-spacer" style="height:39px;"></div>
      <h2 class="wsite-content-title" style="text-align:center;"><font size="7">How It Works</font></h2>
      <div class="wsite-spacer" style="height:73px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-hairline " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/stepOne.jpg" %}" alt="Picture" style="width:234;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <div class="wsite-spacer" style="height:31px;"></div>
                    <h2 class="wsite-content-title" style="text-align:center;">Step One</h2>
                    <div class="paragraph" style="text-align:center;">Easily schedule appointments with your mobile device or directly through our website.<br></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-hairline " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/stepTwo.jpg" %}" alt="Picture" style="width:234;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <div class="wsite-spacer" style="height:31px;"></div>
                    <h2 class="wsite-content-title" style="text-align:center;">Step Two</h2>
                    <div class="paragraph" style="text-align:center;">A Massage Therapist will be right at your door in as little as two hours.<br></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-hairline " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/stepThree.jpg" %}" alt="Picture" style="width:232;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <div class="wsite-spacer" style="height:31px;"></div>
                    <h2 class="wsite-content-title" style="text-align:center;">Step Three</h2>
                    <div class="paragraph" style="text-align:center;"><span style="">Relax and recuperate with a top-quality massage at your convenience.</span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:99px;"></div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
          <img src="{% static "images/downArrow.png" %}" alt="Picture" style="width:auto;max-width:100%">
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="wsite-spacer" style="height:114px;"></div>
      <h2 class="wsite-content-title" style="text-align:center;"><font size="6">What Types of Massage Do We Have?</font></h2>
      <div class="wsite-spacer" style="height:50px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/swedish.jpg" %}" alt="Picture" style="width:189;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/deeptissue.jpg" %}" alt="Picture" style="width:196;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/sports.jpg" %}" alt="Picture" style="width:101;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/shiatsu.png" %}" alt="Picture" style="width:auto;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:16px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Swedish</font></h2>
                    <div class="paragraph" style="text-align:center;">The most common choice. Recommended for first time customers.</div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Deep Tissue</font></h2>
                    <div class="paragraph" style="text-align:center;">Targets the deeper layers of muscle and connective tissue.&nbsp;</div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Sports</font></h2>
                    <div class="paragraph" style="text-align:center;">Stimulates circulation of blood and lymph fluids.&nbsp;</div>
                  </td>
                  <td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Shiatsu</font></h2>
                    <div class="paragraph" style="text-align:center;">Traditional Asian style massage. Also known as Acupressure.</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:114px;"></div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
          <img src="{% static "images/downArrow.png" %}" alt="Picture" style="width:auto;max-width:100%">
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="wsite-spacer" style="height:114px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:31.414141414141%; padding:0 15px;">
                    <div class="paragraph" style="text-align:left;"><font size="6">The Expert Networks</font></div>
                    <div class="paragraph" style="text-align:left;">Our Massage Therapists are the best in the business - fully licensed in their state of practice, insured, vetted, background-checked, screened in person by us, and chosen for their excellence.&nbsp;<br>They earn more than they can get from local stores and create their own schedules.&nbsp;We also provide regular training to them.&nbsp;We take care of them&nbsp;so they can take care of you.&nbsp;</div>
                  </td>
                  <td class="wsite-multicol-col" style="width:6.5656565656566%; padding:0 15px;">
                    <div class="wsite-spacer" style="height:50px;"></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:62.020202020202%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/networks.png" %}" alt="Picture" style="width:auto;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:122px;"></div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
          <img src="{% static "images/downArrow.png" %}" alt="Picture" style="width:auto;max-width:100%">
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="wsite-spacer" style="height:137px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:62.828282828283%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/lifeguard.jpg" %}" alt="Picture" style="width:497;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:6.1616161616162%; padding:0 15px;">
                    <div class="wsite-spacer" style="height:50px;"></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:31.010101010101%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:left;"><font size="6">We Got Your Back</font></h2>
                    <div class="paragraph" style="text-align:left;"><span style="">At MassagePanda, we are big on trust and safety. We provide best-in-class security, community, and support for both our Massage Therapists and you.</span><br><span style="">MassagePanda is one of a handful of on-demand companies that verifies consumer identity with non-spoofable tech solutions.&nbsp;</span>We regularly re-inspect the identities of all our therapists. We believe prevention is better than cure.</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:142px;"></div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
          <img src="{% static "images/downArrow.png" %}" alt="Picture" style="width:auto;max-width:100%">
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="wsite-spacer" style="height:103px;"></div>
      <h2 class="wsite-content-title" style="text-align:center;"><font size="6">How does our pricing work?</font></h2>
      <div class="wsite-spacer" style="height:50px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/simpleprice.png" %}" alt="Picture" style="width:133;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/securepayments.png" %}" alt="Picture" style="width:auto;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/flexibletip.png" %}" alt="Picture" style="width:121;max-width:100%">
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:16px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Simple Pricing</font></h2>
                    <div class="paragraph" style="text-align:center;">Save time and stop searching &amp; comparing.&nbsp;The price of your massage varies slightly by location.<br></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Secure Payments</font></h2>
                    <div class="paragraph" style="text-align:center;"><span style="">All payments handled online by our financial partner with top-level encryption - simple, fast and safe.&nbsp;</span></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Flexible Tip</font></h2>
                    <div class="paragraph" style="text-align:center;">We believe our customers should have the right to freely tip professionals based on their performance.&nbsp;<br></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:122px;"></div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
          <img src="{% static "images/downArrow.png" %}" alt="Picture" style="width:auto;max-width:100%">
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="wsite-spacer" style="height:118px;"></div>
      <h2 class="wsite-content-title" style="text-align:center;"><font size="6">Ready for your massage experience?</font></h2>
      <div class="paragraph" style="text-align:center;"><span style=""><font color="#818181" size="4">Same day, on demand massage. Instant relaxation.</font></span></div>
      <div class="wsite-spacer" style="height:36px;"></div>
      <div style="text-align:center;">
        <div style="height: 10px; overflow: hidden;"></div>
        <a class="wsite-button wsite-button-large wsite-button-normal" href="{% url 'services' %}">
        <span class="wsite-button-inner">Get a Massage</span>
        </a>
        <div style="height: 10px; overflow: hidden;"></div>
      </div>
      <div class="wsite-spacer" style="height:124px;"></div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock %}
