{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block script %}
<script type="text/javascript" src="{% static "./js/index.js" %}"></script>
{% endblock %}

{% block content %}
  
{% include 'index/wbanner.html' %}

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div>
        <div id="530265105377007353" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
          <h2 class="wsite-content-title" style="text-align:center;margin-top: 0px;"><strong><font color="#626262"><span id="selectionBoundary_1434616231536_4588271945249289" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span>Featured services<span id="selectionBoundary_1434616231535_2634860430844128" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span></font></strong></h2>
        </div>
      </div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/massage_illus_1.jpg" %}" alt="Picture" style="width:461;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <div class="paragraph" style="text-align:center;">
		</div>
                  </td>
                  <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <img src="{% static "images/massage_illus_2.jpg" %}" alt="Picture" style="width:465;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <div class="paragraph" style="text-align:center;">
</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="text-align:center;">
        <div style="height: 20px; overflow: hidden;"></div>
        <a class="wsite-button wsite-button-small wsite-button-normal" href="{% url 'services' %}">
        <span class="wsite-button-inner">See More Options</span>
        </a>
        <div style="height: 20px; overflow: hidden;"></div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <h2 class="wsite-content-title" style="text-align:center;"><strong><font color="#626262"><span id="selectionBoundary_1434616231536_4588271945249289" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span>Locations we&nbsp;serve<span id="selectionBoundary_1434616231535_2634860430844128" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span></font></strong></h2>
      <div class="wsite-spacer" style="height:15px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div id="755860824386653169" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                        <div class="discovery-card" style="background-image:url(&#39;http://www.weebly.com/editor/uploads/4/4/9/9/44993235/custom_themes/512627711783106298/files/275.jpg&#39;);">
                          <!--<a href="/" class="link-reset" data-hook="discovery-card" data-id="San Francisco">-->
                          <div class="lo-container">
                            <div class="lo-middle">
                              <div class="lo-text">
                                <strong>
                                San Francisco
                                </strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div id="695686707556529475" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                        <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image: url(&#39;http://www.weebly.com/editor/uploads/4/4/9/9/44993235/custom_themes/512627711783106298/files/stanford_meitu_1.jpg&#39;);">
                          <!--<a href="/" class="link-reset" data-hook="discovery-card" data-id="San Francisco">-->
                          <div class="lo-container">
                            <div class="lo-middle">
                              <div class="lo-text">
                                <strong>
                                Silicon Valley
                                </strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div id="438115153693118998" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                        <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image: url(&#39;http://www.weebly.com/editor/uploads/4/4/9/9/44993235/custom_themes/512627711783106298/files/oakland_b_meitu_1.jpg&#39;);">
                          <!--<a href="/" class="link-reset" data-hook="discovery-card" data-id="San Francisco">-->
                          <div class="lo-container">
                            <div class="lo-middle">
                              <div class="lo-text">
                                <strong>
                                East Bay
                                </strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:24px;"></div>
      <div style="text-align:center;">
        <div style="height: 10px; overflow: hidden;"></div>
        <a class="wsite-button wsite-button-small wsite-button-normal" href="{% url 'locationCoverage' %}">
        <span class="wsite-button-inner">See All Locations</span>
        </a>
        <div style="height: 10px; overflow: hidden;"></div>
      </div>
      <div class="paragraph" style="text-align:center;"><font size="4">Sign up now to be the first to know about special offers and to be&nbsp;notified when we arrive in your city:</font></div>
      <div>
        <div id="709667427541170752" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
          <!-- Begin MailChimp Signup Form -->
          <!--
            <div id="mc_embed_signup">
            <form action="//massagepanda.us10.list-manage.com/subscribe/post?u=3783a3287b4f04dd340629f4b&amp;id=e77933f373" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter Your Email Address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--><!--
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_3783a3287b4f04dd340629f4b_e77933f373" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
            {var div = document.getElementById(&#39;textDiv&#39;);div.textContent = &#39;Thank you for signing up!&#39;;var text = div.textContent;}"></iframe>
          <div id="mc_embed_signup">
            <form action="https://docs.google.com/a/massagepanda.com/forms/d/190RTYSIWfRQNFrNvsKjfkGxIJ7S_A4VnlIA2TXWzlYw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" style="padding: 10px 0 10px 3%;">
              <div id="mc_embed_signup_scroll">
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry">
                      <!-- <label class="ss-q-item-label" for="entry_863216307"><div class="ss-q-title">Email
                        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                        <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label> -->
                      <input type="text" name="entry.863216307" value="" class="email" id="entry_863216307" placeholder="Enter Your Email Address" dir="auto" aria-label="Email  Must match pattern" aria-required="true" required="" pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z-\.]+" title="Must match pattern">
                    </div>
                  </div>
                </div>
                <input type="hidden" name="draftResponse" value="[,,&quot;4711226227032658317&quot;]
                  ">
                <input type="hidden" name="pageHistory" value="0">
                <input type="hidden" name="fbzx" value="4711226227032658317">
                <div class="ss-item ss-navigate">
                  <input type="submit" name="submit" value="Sign Up" id="ss-submit" class="button">
                </div>
                <div id="textDiv" style="display: block;font-size: 17px;font-family: &#39;Oxygen&#39;;"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
      </div>
      <h2 class="wsite-content-title" style="text-align:center;"><font color="#626262"><strong><span id="selectionBoundary_1435391978585_6464007487520576" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span>Why book with us<span id="selectionBoundary_1435391978585_40281131607480347" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span></strong></font></h2>
      <div class="wsite-spacer" style="height:13px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:15px;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/homePage_bestTherapists.png" %}" alt="Picture" style="width:60;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <h2 class="wsite-content-title" style="text-align:center;"><span style="">The Best Therapists</span><br></h2>
                    <div class="paragraph" style="text-align:center;"><span style="">State licensed,&nbsp;insured,&nbsp;</span><br><span style="">&nbsp;</span><span style="">background checked,</span><br><span style="">and personally vetted</span></div>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:15px;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/homePage_DeliverToYou.png" %}" alt="Picture" style="width:auto;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <h2 class="wsite-content-title" style="text-align:center;"><span style="">Deliver To You</span></h2>
                    <div class="paragraph" style="text-align:center;"><span style="">Same-day, in-home,&nbsp;</span><br><span style="">7 days a week,&nbsp;&nbsp;9am to 11pm,&nbsp;</span><br><span style="">massage table, sheets, and oil</span></div>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 15px;">
                    <div>
                      <div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:15px;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/howPage_RestAssured.png" %}" alt="Picture" style="width:58;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <h2 class="wsite-content-title" style="text-align:center;"><span style="">Rest Assured</span></h2>
                    <div class="paragraph" style="text-align:center;"><span style="">Book in<span id="selectionBoundary_1430888740545_4266666683834046" class="rangySelectionBoundary" style="line-height: 0; display: none;"></span> minutes,&nbsp;</span><br><span style="">pay online,&nbsp;</span><span style="">simple and safe&nbsp;</span><br>rate your therapists</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 30px; overflow: hidden; width: 100%;"></div>
      </div>
      <div>
        <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
          <a>
          <img src="{% static "images/home_testimonials.png" %}" alt="Picture" style="width:63;max-width:100%">
          </a>
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>
      <h2 class="wsite-content-title" style="text-align:center;"><strong style=""><font color="#626262">Testimonials</font></strong></h2>
      <div class="wsite-spacer" style="height:10px;"></div>
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -10px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col m-three-col" style="padding:0 10px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/test_chris.jpg" %}" alt="Picture" style="width:118;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <blockquote style="text-align:center;"><span style="">Nice massage with most professional therapist who will relive your muscle stress in a few minutes.Treatment of customers is fabulous.I would for sure recommend this to anyone. I will book again!</span><br><span style=""><br></span><strong style="">- Chris P. (San Francisco)</strong><span style=""><br></span></blockquote>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 10px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/test_amy.jpg" %}" alt="Picture" style="width:118;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <blockquote style="text-align:center;">I booked 2 hours in advance and the masseuse came on time. The massage table was comfortable and the set up was fast. She&nbsp;put on&nbsp;soothing music and used lavender scents. It indeed created a quality spa-like experience.<br><br><strong style="">- Amy W. (San Jose)</strong><span style="">&nbsp;&nbsp;</span></blockquote>
                  </td>
                  <td class="wsite-multicol-col m-three-col" style="padding:0 10px;">
                    <div>
                      <div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                        <a>
                        <img src="{% static "images/test_sarah.jpg" %}" alt="Picture" style="width:118;max-width:100%">
                        </a>
                        <div style="display:block;font-size:90%"></div>
                      </div>
                    </div>
                    <blockquote style="text-align:center;">My husband surprised me with a massage on mother's day!&nbsp;<span style="">I feel so spoiled.&nbsp;</span><span style="">The&nbsp;</span>masseuse&nbsp;was professional, courteous and&nbsp;responsive.&nbsp;<span style="">What an amazing service!</span><br><br><strong style="">-&nbsp;</strong><span style=""><strong>Sarah</strong></span><strong style="">&nbsp;L. (Oakland)</strong><span style=""><br></span></blockquote>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div style="height: 0px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 30px; overflow: hidden; width: 100%;"></div>
      </div>
      <h2 class="wsite-content-title" style="text-align:center;"><font size="5">Couldn't Wait to Experience?</font></h2>
      <div style="text-align:center;">
        <div style="height: 20px; overflow: hidden;"></div>
        <a class="wsite-button wsite-button-large wsite-button-normal" href="{% url 'services' %}">
        <span class="wsite-button-inner">Book Massage Now</span>
        </a>
        <div style="height: 30px; overflow: hidden;"></div>
      </div>
      <!-- div class="wsite-spacer" style="height:25px;"></div> -->
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock %}
