{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block content %}
<div id="main-wrap">
  <div class="container">
    <div id='wsite-content' class='wsite-elements wsite-not-footer'>
      <div class="paragraph" style="text-align:center;"><font size="5">Locations we currently&nbsp;serve: San Francisco,&nbsp;Silicon Valley, East Bay, Santa Cruz</font><br />(Highlighted area on the map below shows our coverage in the Bay Area)</div>
      <div class="wsite-spacer" style="height:14px;"></div>
      <div>
        <div id="105137542544833606" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><iframe width="90%" height="900" frameborder="0" src="//widgets.scribblemaps.com/sm/?lat=37.64&lng=-122.20827200634767&vz=10&type=road&width=900&height=900&id=jxIAoFdahj" style="border:0" allowfullscreen></iframe></div>
      </div>
      <div class="paragraph" style="text-align:left;"></div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->
{% endblock %}
