{% load staticfiles %}

<div id="banner-wrap">
  <div id="banner" class="wsite-background wsite-custom-background">
    <div class="container">
      <div id="bannertall" class="landing-banner-outer">
        <div class="landing-banner-mid">
          <div class="landing-banner-inner">
            <h2><span class="wsite-text wsite-headline">
              <span class="banner-title"><strong>Massage, At Your Door</strong></span><br><span class="banner-text">Anywhere. Anytime. From the best therapists.<br><br></span><span><br><br></span>
              </span>
            </h2>
          </div>
          <!-- end banner inner -->
        </div>
        <!-- end banner mid -->
      </div>
      <!-- end banner-right -->
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- end banner -->
  <div id="banner-mask" class="banner-mask">
    <form id="serviceSearch" action="{% url 'services' %}" method="get">
	</form>
	<div style="width: 100%; min-width: 320px;">
		<span class="select select-city mp-smallScreenHide" style="display:inline-block;position: relative;vertical-align: top;margin-right: -4px;">
		  <select name="city" id="city" style="">
			<option value="1">San Francisco&nbsp;&nbsp;</option>
			<option value="2">Bay Area</option>
			<option value="3">Chicago</option>
		  </select>
		</span>
		  <span class="select select-type" style="display:inline-block; position: relative;vertical-align: top;margin-right: -4px;">
			<select name="type" id="type" style="">
			  <option value="1">Swedish Massage</option>
			  <option value="2">Deep Tissue Massage</option>
			  <option value="3">Couple Massage</option>
			  <option value="4">Sports Massage</option>
			  <option value="5">Shiatsu Massage</option>
			</select>
		  </span>
		  <span class="select select-length" style="display:inline-block; position: relative;vertical-align: top;margin-right: -4px;">
			<select name="length" id="length" style="">
			  <option value="1">1 Hour</option>
			  <option value="2" id="oneHalfHours">1.5 Hours</option>
			</select>
		  </span>
		  <a id="searchService" href="{% url 'services' %}" class="wsite-button wsite-button-small wsite-button-normal" value="Book" style="height: 44px;">
		  <span class="wsite-button-inner" style="float: none;">Search</span>
		  </a> 
	  </div>
  </div>
</div>
<!-- end banner-wrap -->
