{% load staticfiles %}

<div id="banner-wrap">
  <div id="banner" class="wsite-background wsite-custom-background">
    <div class="container">
      <div id="bannertall" class="landing-banner-outer">
        <div class="landing-banner-mid">
          <div class="landing-banner-inner">
            <h2><span class="wsite-text wsite-headline">
              <span class="banner-title"><strong>Massage, At Your Door</strong></span><br><span class="banner-text">Anywhere. Anytime. With the best therapists.&nbsp;<br><br></span><span><br><br></span>
              </span>
            </h2>
          </div>
          <!-- end banner inner -->
        </div>
        <!-- end banner mid -->
      </div>
      <!-- end banner-right -->
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- end banner -->
  <div id="banner-mask" class="banner-mask">
    <form id="serviceSearch" action="{% url 'serviceDetails' %}" method="post">
      {% csrf_token %}
      <input id="serviceId" type="hidden" name="serviceId" />
      <span class="select select-type" style="display:inline-block;width:200px;position: relative;vertical-align: top;margin-right: -4px;">
        <select name="type" id="type" style="">
          <option value="1">Swedish Massage</option>
          <option value="2">Deep Tissue Massage</option>
          <option value="3">Couple Massage</option>
          <option value="4">Sports Massage</option>
          <option value="5">Shiatsu Massage</option>
        </select>
      </span>
      <span class="select select-length" style="display:inline-block;width:104px;position: relative;vertical-align: top;margin-right: -4px;">
        <select name="length" id="length" style="">
          <option value="1">1 Hour</option>
          <option value="2" id="oneHalfHours">1.5 Hours</option>
        </select>
      </span>
      <a type="submit" id="submitHref" class="wsite-button wsite-button-small wsite-button-normal" value="Book" style="height: 44px;">
      <span class="wsite-button-inner" style="float: none;">Search</span>
      </a> 
    </form>
  </div>
</div>
<!-- end banner-wrap -->
