<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
		<title>In-Home Massage |  MassagePanda At Your Door | Mobile Massage Delivery - Home</title><meta name="description" content="MassagePanda brings you in-home on demand massages with the best licensed therapists. Anywhere. Anytime. Book your in home massage appointments online." />
		<meta name="keywords" content="Massage, in home massage, in-home massage, at home massage, on site massage, on demand massage, mobile massage, massage therapists, massage panda" />
		<meta property="og:site_name" content="In-Home Massage |  MassagePanda At Your Door | Mobile Massage Delivery" />
		<meta property="og:title" content="In-Home Massage |  MassagePanda At Your Door | Mobile Massage Delivery" />
		<meta property="og:description" content="MassagePanda brings you in-home on demand massages with the best licensed therapists. Anywhere. Anytime. Book your in home massage appointments online." />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta property="og:site_name"        content="MassagePanda In Home Massage" />   
		<meta property="og:type"   content="website" />
		<meta property="og:url" content="https://www.massagepanda.com" />
		<meta name="copyright" content="Copyright 2015, Ctrl X, Inc." />
		<meta name="google-site-verification" content="QF-Uk7odNzJMXYyv_2Z5fCTa1qOKrQs-oLa-SU3gTho" />
		<meta name="p:domain_verify" content="106decd4852ee09f01c7573f79403623"/>
		<link href="https://plus.google.com/114942695031879741470" rel="publisher" />
		<link href="https://www.massagepanda.com/" rel="canonical" />

        <link rel="shortcut icon" href="{% static "./images/favicon.ico" %}">
        <link rel="stylesheet" href="{% static "./css/bootstrap.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/jquery-ui.min.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/hover.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/panda.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/terms.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/largeScreen.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/smallScreen.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/sites.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "./css/main_style.css" %}" type="text/css">
		
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Lustria&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

        {% block style %}
        {% endblock %}

        <script type="text/javascript" src="{% static "./js/jquery.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/jquery.cookie.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/bootstrap.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/jquery.history.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/pandaUtil.js" %}">
        </script>
        <script type="text/javascript" src="{% static "./js/phone.js" %}">
        </script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js">
        </script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/">
        </script>

        {% block script %}
        {% endblock %}

{% if prod %}
<script type="text/javascript" async defer
  src="https://apis.google.com/js/platform.js?publisherid=114942695031879741470">
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.massagepanda.com",
      "logo": "https://www.massagepanda.com/uploads/4/4/9/9/44993235/1431646225.png",
     "contactPoint" : [
         { "@type" : "ContactPoint",
           "telephone" : "+1 (855) 68-PANDA",
           "contactType" : "customer service",
           "contactOption" : "TollFree",
           "areaServed" : "US"
    } ],
     "sameAs" : [ "https://www.facebook.com/massagepanda",
      "https://twitter.com/massage_panda",
      "https://plus.google.com/b/114942695031879741470/114942695031879741470/about",
      "https://pinterest.com/massagepanda" ]
    }
</script>
<script type="text/javascript">
adroll_adv_id = "SER7YRCYGRGB3GPHBETY3K";
adroll_pix_id = "GDII47NVS5B6RFJMEHOW23";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
<script src="https://load.sumome.com/" data-sumo-site-id="e097517efa317b1124d737f1e337c745b5c4aadbf0bab43b7ded7c942c10be5f" async="async"></script>
<script src="https://cdn.optimizely.com/js/2403080326.js"></script>
<!--GrowSumo Tracking Code -->
<script type='text/javascript'>(function(){var gs=document.createElement('script');gs.src='https://growsumo-snippets.s3.amazonaws.com/growsumo-latest.min.js';gs.type='text/javascript';gs.async ='true';gs.onload=gs.onreadystatechange=function(){var rs=this.readyState;if(rs&&rs!='complete'&&rs!='loaded')return;try{growsumo._initialize('pk_56f0c7a1bb6c40c9ac172b4ab307c40e');}catch(e){}};var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gs,s);})();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62398713-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/555db22f7e8800cb100000b5.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>

{% else %}

<meta name="robots" content="noindex">
{% endif %}

<script>
    $(document).ready(function(){
        pandaPhoneInit();

        {% block docReady %}
        {% endblock %}
    });
</script>
    </head>
    <body class="no-header-page  wsite-theme-light">
<nav id="mp-leftSideNav" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left mp-largeScreenHide">
  <a href="http://www.massagepanda.com" class="mp-pageHeader" data-mpShow="true" data-mpLoaded="true" data-mpPageId="panda_home">Home</a>
  <a href="http://www.massagepanda.com/our-massages.html" class="mp-pageHeader" data-mpController="pandaBookMassagePage"  data-mpPageId="panda_bookMassage">Our Massages</a>
    <!--
  <a href="{% url 'customer' %}" class="mp-pageHeader mp-mobileLoginTrue" data-mpController="pandaProfilePage" data-mpPageId="panda_profile">Profile</a>
  -->
  {% if request.user.is_authenticated %}
  <a href="{% url 'logoutView' %}" class="mp-pageHeader mp-mobileLoginTrue" data-mpController="pandaLogoutPage" data-mpPageId="panda_logout">Logout</a>
  {% else %}
  <!--<a href="{% url 'customerLogin' %}" class="mp-pageHeader mp-mobileLoginfalse" data-mpController="pandaLoginPage" data-mpPageId="panda_login" >Login</a> -->
  {% endif %}
  <ul class="mp-sideBar-socialLink">
    <li> <a class="mp-socialLink mp-socialLink-facebook" href="https://facebook.com/massagepanda" target="_blank"></a> </li>
    <li> <a class="mp-socialLink mp-socialLink-twitter" href="https://twitter.com/massage_panda" target="_blank"></a> </li>
    <li> <a class="mp-socialLink mp-socialLink-plus" href="https://plus.google.com/b/114942695031879741470/114942695031879741470/about" target="_blank"></a> </li>
    <li> <a class="mp-socialLink mp-socialLink-pinterest" href="https://pinterest.com/massagepanda" target="_blank"></a> </li>
    <li> <a class="mp-socialLink mp-socialLink-mail" href="mailto:support@massagepanda.com" target="_blank"></a> </li>
    <li> <a class="mp-socialLink wsite-social-yelp" href="https://www.yelp.com/biz/massagepanda-in-home-massage-san-francisco" target="_blank"></a></li>
    <li> <a class="mp-socialLink wsite-social-thumbtack" href="https://www.thumbtack.com/profile/services/Ytg6gI4BRZB$vQ/" target="_blank"></a></li>
  </ul>
</nav>
<nav id="mp-navbar" class="navbar navbar-default navbar-fixed-top cbp-spmenu-push">
  <div class="container">
    <div id="mp-showLeftPush" class="mp-navigation-mobileIcon mp-largeScreenHide">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </div>
    <div class="mp-pageHeader mp-IconDiv" data-mpShow="true" data-mpLoaded="true" data-mpPageId="panda_home">
      <a href="http://www.massagepanda.com">
      <img class="mp-pandaIcon" src="{% static "./images/pandaNewIcon.png" %}"/>
      </a>
    </div>
    <!--
    <div id="mp-showRightPush"  class="mp-navigation-mobileSetting mp-largeScreenHide">
  {% if request.user.is_authenticated %}
  <a href="{% url 'customer' %}" class="mp-pageHeader mp-mobileLoginTrue" data-mpController="pandaProfilePage" data-mpPageId="panda_profile">{{ request.user.first_name }}</a>
  {% endif %}
    </div>
    -->
    <div class="mp-navigation mp-smallScreenHide">
      <ul>
        <li>
          <a href="http://www.massagepanda.com/our-massages.html" class="mp-pageHeader" data-mpPageId="panda_bookMassage">Our Massages</a>
        </li>
        <li>
          <a href="http://www.massagepanda.com/how-it-works.html" class="mp-pageHeader" data-mpController="pandaHelpCenterPage" data-mpPageId="panda_helpCenter">How It Works</a>
        </li>
            {% if request.user.is_authenticated %}
        <li role="presentation" class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{ request.user.first_name }}
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
                <li class="profile"><a href="{% url 'customer' %}" class="mp-pageHeader" data-mpController="pandaLogoutPage" data-mpPageId="panda_profile" >Profile</a></li>
            <li class="logout"><a href="{% url 'logoutView' %}" class="mp-pageHeader" data-mpController="pandaLogoutPage" data-mpPageId="panda_logout" >Logout</a></li>
          </ul>
        </li>

            {% else %}
        <!-- <li class="mp-loginHeader" >
          <a href="{% url 'customerLogin' %}" class="mp-pageHeader" data-mpController="pandaLoginPage" data-mpPageId="panda_login" >Login</a>
        </li> -->

            {% endif %}

      </ul>
    </div>
  </div>
</nav>
<!-- end header-wrap -->
<div id="mp-mainContent" class="jumbotron cbp-spmenu-push"> 
        {% block content %}
        {% endblock %}
</div>
<div id="mp-footer" class="cbp-spmenu-push">
<div id="footer-wrap">
  <div class="container">
    <div class="wsite-elements wsite-footer">
      <div class="mp-smallScreenHide">
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -10px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:22.67472465008%; padding:0 10px;">
                    <div class="paragraph" style="text-align:left;"><font size="3"><font color="#626262" style="background-color: initial;"><font color="#626262"><a href="{% url 'faq' %}" title=""><span id="selectionBoundary_1430557841526_49230635236017406" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span><font color="#626262">Help Center</font><span id="selectionBoundary_1430557841526_6671315038111061" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span></a></font></font><span style="background-color: initial;">&nbsp;</span><br><a href="http://www.massagepanda.com/our-massages.html" title=""><font color="#626262">Our Massages</font></a><br><a href="https://www.massagepanda.com/corporate-massage-program.html"><font color="#626262">Corporate Massage</font></a><br><a href="http://www.massagepanda.com/store/p30/MassagePanda_e-Gift_Card.html" title=""><font color="#626262">Give a Gift</font></a></font></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:22.554016072831%; padding:0 10px;">
                    <div class="paragraph" style="text-align:left;"><a href="http://www.massagepanda.com/apply_first.html" title="" style="">Apply&nbsp;as Therapist</a><br><a href="{% url 'locationCoverage' %}" title=""><font color="#626262">Service Area</font></a><br><a href="https://massagepanda.growsumo.com/app/page" target="_blank" title="" style=""><font color="#626262">Affiliate Program</font></a><br></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:23.484342448786%; padding:0 10px;">
                    <div class="paragraph" style="text-align:left;"><a href="https://www.massagepanda.com/blog.html" title=""><font color="#626262">Panda&nbsp;Blog</font></a><br><a href="{% url 'about' %}" title="" style=""><font color="#626262">About&nbsp;Panda</font></a><br><font color="#626262"><a href="http://www.massagepanda.com/contact-us.html" title=""><span id="selectionBoundary_1435051855307_4816014380194247" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span><font color="#626262">Contact Us</font><span id="selectionBoundary_1435051855306_08649692195467651" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span></a></font><br><br></div>
                  </td>
                  <td class="wsite-multicol-col" style="width:31.286916828303%; padding:0 10px;">
                    <div class="paragraph" style="text-align:right;">Made with <span id="selectionBoundary_1430556979825_03155022021383047" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span><font color="#e05c5c">love</font><span id="selectionBoundary_1430556979825_22052562073804438" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span> in Silicon Valley<br>1 (855) 68-PANDA &nbsp;9am - 10pm PT<br></div>
                    <div style="text-align:right;">
                      <div style="height:0px;overflow:hidden"></div>
                      <span class="wsite-social wsite-social-default"><a class="first-child wsite-social-item wsite-social-facebook" href="https://facebook.com/massagepanda" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="wsite-social-item wsite-social-twitter" href="https://twitter.com/massage_panda" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="wsite-social-item wsite-social-plus" href="https://plus.google.com/b/114942695031879741470/114942695031879741470/about" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="wsite-social-item wsite-social-pinterest" href="https://pinterest.com/massagepanda" target="_blank"><span class="wsite-social-item-inner"></span></a><a class="last-child wsite-social-item wsite-social-mail" href="mailto:support@massagepanda.com" target="_blank"><span class="wsite-social-item-inner"></span></a></span>
                      <div style="height:10px;overflow:hidden"></div>
                    </div>
                    <div>
                      <div id="451314862283876032" align="right" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><span class="wsite-social wsite-social-default">
                        <a class="wsite-social-item wsite-social-yelp" href="https://www.yelp.com/biz/massagepanda-in-home-massage-san-francisco" target="_blank"><span class="wsite-social-item-inner"></span></a>
                        <a class="wsite-social-item wsite-social-thumbtack" href="https://www.thumbtack.com/profile/services/Ytg6gI4BRZB$vQ/" target="_blank"><span class="wsite-social-item-inner"></span></a></span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mp-smallScreenHide">
        <div style="height: 20px; overflow: hidden; width: 100%;"></div>
        <hr class="styled-hr" style="width:100%;">
        <div style="height: 10px; overflow: hidden; width: 100%;"></div>
      </div>
      <div class="paragraph" style="text-align:left;"><font size="2">©2015 MassagePanda In Home Massage. All Rights Reserved.&nbsp;<a href="{% url 'terms' %}" title=""><font color="#626262"><u>Terms of Use</u></font></a>&nbsp;|&nbsp;<a href="{% url 'privacy' %}" title=""><font color="#626262"><u>Privacy Policy</u></font></a></font><span class="mp-smallScreenHide"><font size="2">.&nbsp;Copyright 2015, Ctrl X, Inc., 440 N Wolfe Rd, Sunnyvale, CA 94085. MASSAGEPANDA®,&nbsp;MASSAGE AT YOUR DOOR®,&nbsp;and&nbsp;FIND A PANDA®&nbsp;are trademarks of Ctrl X, Inc.&nbsp;The contents of the MassagePanda web site are for informational purposes only. None of the information on the site should be construed or used as professional medical advice or consultation.&nbsp;</font></span><br></div>
    </div>
  </div>
  <!-- end container -->
</div>
</div>
<!-- end footer-wrap -->

