{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block script %}
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
{% endblock %}

{% block docReady %}
$('#collapseExample').on('shown.bs.collapse', function() {
document.getElementById("arrowImg").src = "{% static "images/arrowDown.png" %}";
  });

$('#collapseExample').on('hidden.bs.collapse', function() {
document.getElementById("arrowImg").src = "{% static "images/arrow.png" %}";
  });
{% endblock %}

{% block content %}

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:21.515151515152%; padding:0 15px;">
                    {% include "customers/profile_nav.html" %}
                  </td>
<td class="wsite-multicol-col" style="width:78.282828282828%; padding:0 15px;">
  <h2 class="wsite-content-title" style="text-align:center;"><font size="5">MY MASSAGES</font></h2>
  <div class="wsite-spacer" style="height:11px;"></div>
  <div>
    <div class="wsite-multicol">
      <div class="wsite-multicol-table-wrap" style="margin:0 -0px;">
        <table class="wsite-multicol-table">
          <tbody class="wsite-multicol-tbody">
            <tr class="wsite-multicol-tr">
              <td class="wsite-multicol-col" style="width:5.7374313868516%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;">&nbsp;</div>
              </td>
              <td class="wsite-multicol-col" style="width:15.077435970098%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><font size="3"><strong>Date</strong></font></div>
              </td>
              <td class="wsite-multicol-col" style="width:17.961358970359%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><font size="3"><strong>City</strong></font></div>
              </td>
              <td class="wsite-multicol-col" style="width:16.573247671462%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><strong><font size="3">Type</font></strong></div>
              </td>
              <td class="wsite-multicol-col" style="width:11.722541035912%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><font size="3"><strong>Length</strong></font></div>
              </td>
              <td class="wsite-multicol-col" style="width:18.009591776948%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><font size="3"><strong>Therapist</strong></font></div>
              </td>
              <td class="wsite-multicol-col" style="width:14.918393188368%; padding:0 0px;">
                <div class="paragraph" style="text-align:left;"><strong>Fare</strong></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
    <div style="height: 10px; overflow: hidden; width: 100%;"></div>
    <hr class="styled-hr" style="width:100%;">
    <div style="height: 10px; overflow: hidden; width: 100%;"></div>
  </div>

{% for record in request.user.customer.order_set.all %}
{% include "customers/historyDetail.html" with record=record %}
{% endfor %}
</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:50px;"></div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock %}
