{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block script %}
<script type="text/javascript" src="{% static "./js/login.js" %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block outter %}

{% include 'customers/forgotPasswordModal.html' %}
{% endblock %}

{% block content %}


<div id="panda_login" class="mp-pageContent container-fluid" data-mpController="pandaLoginPage">
    <div class="login-card">
        <h2 class="mp-helpCenterTitle" style="margin-top:20px;">Sign In</h2>
        <br/>
        <form class="mp-loginForm" action="{% url 'userLoginFromForm' %}" method=POST>
          {% csrf_token %}
          <div id="mp-loginForm-panelAlert" class="alert alert-danger" role="alert" style="display:none">Username or Password is wrong</div>
          <input type="text" name="username" placeholder="Email" data-serverField="true" required />
          <input type="password" name="password" placeholder="Password" data-serverField="true" required />
          {% if error %}
          <div id="mp-massageDetails-panelAlert" class="alert alert-danger" role="alert">{{ error }}<span class="alertInfo"></span></div>
          {% endif %}
          <input type="submit" name="loginSubmit" class="login login-submit" value="Sign In" style="margin-top: 10px;height: 44px;" />
          <div class="g-recaptcha" id="rc-imageselect" data-sitekey="6LcjVQ8TAAAAAP8i_JWsl14xMYrSMgMod-3HVc2o"></div>
        </form>
        <div class="login-help">
        	  Don't have an account? <a href="{% url 'customerRegister' %}" class="mp-pageHeader" data-mpPageId="panda_register" data-mpController="pandaRegisterPage" style="color: #2ecc71;">Sign up!</a></br>
            <a data-toggle="modal" data-target="#forgotPasswordModal" href="#">Forgot Password</a>
        </div>
    </div>
	 <div class="mp-loginSuccess mp-pageHeader" data-mpPageId="panda_home" data-pageStateType="replace" style="display:none">
    </div>
</div>

{% endblock %}
