{% extends "index/wbase.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<div id="panda_login" class="mp-pageContent container-fluid" data-mpController="pandaLoginPage">
    <div class="login-card">
        <h1>New Password</h1>
        <br/>

<form class="mp-loginForm" action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" class="login login-submit" value="{% trans 'Change my password' %}" /></p>
</form>

    </div>
</div>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
