{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block content %}

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:21.515151515152%; padding:0 15px;">
                    {% include "customers/profile_nav.html" %} 
                  </td>
                  <td class="wsite-multicol-col" style="width:78.484848484848%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">PAYMENT</font></h2>
                    <div class="wsite-spacer" style="height:11px;"></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div>
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                          <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="width:89.935483870968%; padding:0 15px;">
                                  <div class="paragraph" style="text-align:left;"><strong>Payment Methods</strong><br></div>
                                </td>
                                <td class="wsite-multicol-col" style="width:10.064516129032%; padding:0 15px;">
                                  <div>
                                    <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                      <a>
                                      <img src="{% static "images/plus.png" %}" alt="Picture" style="width:auto;max-width:100%">
                                      </a>
                                      <div style="display:block;font-size:90%"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div>
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -5px;">
                          <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
{% if stripeCustomer %}
{% for data in stripeCustomer.sources.data %}
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="width:7%; padding:0 5px;">
                                  <div>
                                    <div class="wsite-image wsite-image-border-hairline " style="padding-top:10px;padding-bottom:5px;margin-left:0;margin-right:0;text-align:left">

                                      <a>
                                      {% with "images/"|addCardImageSrc:data.brand|add:".png" as creditImage %}
                                      <img src="{% static creditImage %}" alt="Picture" style="width:auto;max-width:100%">
                                      {% endwith %}
                                      </a>
                                      <div style="display:block;font-size:90%"></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="wsite-multicol-col" style="width:12%; padding:0 5px;">
                                  <div class="paragraph" style="text-align:left;">••••{{ data.last4 }}<br></div>
                                </td>
                                <td class="wsite-multicol-col" style="width:81%; padding:0 5px;">
                                  <div>
                                    <div class="wsite-image wsite-image-border-none " style="padding-top:5px;padding-bottom:5px;margin-left:0;margin-right:0;text-align:center">
                                      <input class="wsite-form-input" type="text" name="name_first" value="{{ data.exp_month}}/{{ data.exp_year }}" placeholder="Expiration" readonly>
                                      <input class="wsite-form-input" type="text" name="name_first" value="" placeholder="CVV">
                                      <div style="display:block;font-size:90%"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
{% endfor %}
{% else %}
no payment found
{% endif %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:35px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Credit</strong></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;">US$100.00</div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:30px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Membership</strong><br></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;"><span style=""><font size="3">NO ACTIVE MEMBERSHIP</font></span></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:35px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Purchased Gift Cards</strong></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;"><span style=""><font size="3">NO PURCHASED GIFT CARDS</font></span></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:50px;"></div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock %}
