{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "./css/payment.css" %}" type="text/css">
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static "./js/my-stripe.js" %}"></script>
<script type="text/javascript" src="{% static "./js/payment.js" %}"></script>
{% endblock %}

{% block outter %}
{% include 'customers/confirmationModal.html' %}
{% include 'customers/newPaymentModal.html' %}
{% endblock %}

{% block content %}

<input type="hidden" id="stripePublishKey" value="{{ stripePublishKey }}" />

<div id="main-wrap">
  <div class="container">
    <div id="wsite-content" class="wsite-elements wsite-not-footer">
      <div>
        <div class="wsite-multicol">
          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
            <table class="wsite-multicol-table">
              <tbody class="wsite-multicol-tbody">
                <tr class="wsite-multicol-tr">
                  <td class="wsite-multicol-col" style="width:20%; padding:0 15px;">
                    {% include "customers/profile_nav.html" %} 
                  </td>
                  <td class="wsite-multicol-col profile-right" style="width:80%; padding:0 15px;">
                    <h2 class="wsite-content-title" style="text-align:center;"><font size="5">PAYMENT</font></h2>
                    <div class="wsite-spacer" style="height:11px;"></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div>
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                          <table class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="width:89.935483870968%; padding:0 15px;">
                                  <div class="paragraph" style="text-align:left;"><strong>Payment Methods</strong><br></div>
                                </td>
                                <td class="wsite-multicol-col" style="width:10.064516129032%; padding:0 15px;">
                                  <div>
                                    <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                                      <a data-toggle="modal" data-target="#newPaymentModal" href="#">
                                      <img src="{% static "images/plus.png" %}" alt="Picture" style="width:auto;max-width:100%">
                                      </a>
                                      <div style="display:block;font-size:90%"></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div>
                      <div class="wsite-multicol">
                        <div class="wsite-multicol-table-wrap" style="margin:0 -5px;">
                          <table id="payment-table" class="wsite-multicol-table">
                            <tbody class="wsite-multicol-tbody">
							{% if stripeCustomer %}
							{% for data in stripeCustomer.sources.data %}
                              <tr class="wsite-multicol-tr">
                                <td class="wsite-multicol-col" style="width:7%; padding:0 5px;">
                                  <div>
                                    <div class="wsite-image wsite-image-border-hairline " style="padding-top:10px;padding-bottom:5px;margin-left:0;margin-right:0;text-align:left">
                                      {% with "images/"|addCardImageSrc:data.brand|add:".png" as creditImage %}
                                      <img src="{% static creditImage %}" alt="Picture" style="width:auto;max-width:100%">
                                      {% endwith %}
                                      <div style="display:block;font-size:90%"></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="wsite-multicol-col" style="width:12%; padding:0 5px;">
                                  <div class="paragraph">••••{{ data.last4 }}</div>
                                </td>
                                <td class="wsite-multicol-col" style="width:30%; padding:0 5px;">
                                   <div class="paragraph" >{{ data.exp_month}}/{{ data.exp_year }}</div>
                                </td>
                                <td class="wsite-multicol-col" style="width:30%; padding:0 5px;">
                                  <div class="paragraph">{{ data.name }}</div>
                                </td>
                                <td class="wsite-multicol-col" style="width:10%; padding:0 5px;">
								  <div class="paragraph">
                                    <input type="hidden" name="card-id" value="{{data.id}}">
                                    <a class="delete-link" name="deletePaymentBtn">Delete</a>
								  </div>
                                </td>
                              </tr>
							{% endfor %}
							{% else %}
							no payment found
							{% endif %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:35px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Credit</strong></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;">US$0.00</div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:30px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Membership</strong><br></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;"><span style=""><font size="3">NO ACTIVE MEMBERSHIP</font></span></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="wsite-spacer" style="height:35px;"></div>
                    <div class="paragraph" style="text-align:left;"><strong>Purchased Gift Cards</strong></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                    <div class="paragraph" style="text-align:left;"><span style=""><font size="3">NO PURCHASED GIFT CARDS</font></span></div>
                    <div>
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                      <hr class="styled-hr" style="width:100%;">
                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="wsite-spacer" style="height:50px;"></div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end main-wrap -->

{% endblock %}
