{% for address in request.user.customer.address_set.all %}

<div class="border address-desc">
  <div class="address-detail">{{ address.name }}, {{ address.address_line1 }} {{ address.address_line2 }}, {{ address.city }}, {{ address.state }} {{ address.zipcode }}</div>
  <div class="edit-div">
    <a>Set as default</a>
    <a name="editAddressBtn">Edit</a>
    <a class="delete-link" name="deleteAddressBtn">Delete</a>
    <input type="hidden" name="addressId" value="{{ address.id }}"/>
  </div>
  <div>
    <div class="delimiter"></div>
    <hr class="styled-hr">
    <div class="delimiter"></div>
  </div>
</div>

{% endfor %}

