                              {% load staticfiles %}

                              <div>
                                 <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                                    <a>
                                    <img src="{% static "./images/Obama.jpg" %}" alt="Picture" style="width:153;max-width:100%">
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                              <div class="paragraph" style="text-align:center;">John</div>
                              <div>
                                 <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:left">
                                    <a>
                                    <img src="./Profile_files/9656932.png" alt="Picture" style="width:186;max-width:100%">
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="http://www.massagepanda.com/order-history.html"><font color="#626262">My Massages</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'customer' %}"><font color="#626262">Profile</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{%url 'customerPayment' %}"><font color="#626262">Payment</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'refer' %}"><font color="#626262">Free Massages</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;">Log Out</div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="wsite-spacer" style="height:50px;"></div>

