{% extends "index/wbase.html" %}
{% load staticfiles %}

{% block script %}
<script type="text/javascript" src="{% static "./js/profile.js" %}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "./css/profile.css" %}" type="text/css">
{% endblock %}

{% block outter %}
{% include 'customers/confirmationModal.html' %}
{% include 'customers/addressModal.html' %}
{% include 'customers/changePasswordModal.html' %}
{% endblock %}

{% block content %}

<div id="main-wrap">
   <div class="container">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
         <div>
            <div class="wsite-multicol">
               <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                  <table class="wsite-multicol-table">
                     <tbody class="wsite-multicol-tbody">
                        <tr class="wsite-multicol-tr">
                           <td class="wsite-multicol-col" style="width:20%; padding:0 15px;">
                               {% include "customers/profile_nav.html" %}
                           </td>
                           <td class="wsite-multicol-col profile-right" style="width:80%; padding:0 15px;">
                              <h2 class="wsite-content-title" style="text-align:center;"><font size="5">PROFILE</font></h2>
                              <div class="wsite-spacer" style="height:11px;"></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><font size="3"><strong>General Information</strong></font></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div>
                                 <div id="160172961544217299" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                                    <div class="wsite-com-checkout-section" style="padding-bottom:0px;">
                                       <form id="wsite-com-checkout-payment-personal">
                                          <div class="inner">
                                             <div class="wsite-form-field wsite-name-field">
                                                <div class="wsite-form-input-container wsite-form-left">
                                                   <input class="wsite-form-input" type="text" name="name_first" value="{{ request.user.first_name }}" placeholder="First Name" readonly>
                                                </div>
                                                <div class="wsite-form-input-container wsite-form-right">
                                                   <input class="wsite-form-input" type="text" name="name_last" value="{{ request.user.last_name }}" placeholder="Last Name" readonly>
                                                </div>
                                             </div>
                                             <div class="wsite-form-field">
                                                <div class="wsite-form-input-container wsite-form-left">
                                                   <input class="wsite-form-input" type="text" name="email" value="{{ request.user.email }}" placeholder="Email" readonly>
                                                </div>
                                                <div class="wsite-form-input-container wsite-form-right">
                                                   <input class="wsite-form-input" type="text" name="home_phone" value="{{ request.user.customer.phone }}" placeholder="Phone" readonly>
                                                </div>
                                             </div>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                              <div>
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                              </div>

                              <div>
                                 <div class="wsite-multicol">
                                    <div class="wsite-multicol-table-wrap" style="margin:0 -0px;">
                                       <table class="wsite-multicol-table">
                                          <tbody class="wsite-multicol-tbody">
                                             <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:16.638345719182%; padding:0 0px;">
                                                   <div class="paragraph" style="text-align:left;"><font size="3">Profile Photo</font></div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:33.276691438363%; padding:0 0px;">
												   <div class="wsite-image" style="padding-top:0; padding-bottom:0; margin-left:0; margin-right:10px; text-align:left; display: inline-block;">
														 <a>
														 <img src="{% static "./images/default.jpeg" %}" alt="Picture" class="profile-pic" style="width:50px;height:50px;">
														 </a>
														 <div style="display:block;font-size:90%"></div>
												   </div>
												    <div class="paragraph" style="text-align:left;display: none;">
													<a data-toggle="modal" data-target="" href="#">
													  Set Picture
													</a>
													</div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.642810222323%; padding:0 0px;">
                                                   <div class="paragraph" style="text-align:left;"><font size="3">Password</font></div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.653923393158%; padding:0 0px;">
                                                   <div class="paragraph" style="text-align:left;">••••••••••••<br></div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:16.788229226974%; padding:0 0px;">
													<div class="paragraph" style="text-align:left;">
													<a data-toggle="modal" data-target="#myModal" href="#">
													  Change
													</a>
													</div>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              <div>
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div style="text-align:center;display: none;">
                                 <div style="height: 10px; overflow: hidden;"></div>
                                 <a class="wsite-button wsite-button-small wsite-button-normal" href="javascript:;">
                                 <span class="wsite-button-inner">Update Profile</span>
                                 </a>
                                 <div style="height: 10px; overflow: hidden;"></div>
                              </div>
                              <div>
                                 <div style="height: 30px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div>
                                  <div style="text-align:left;/* width: 90%; */display: inline-block;"><strong>Shipping Address</strong></div>
                                  <div class="wsite-image wsite-image-border-none " style="/* padding-top:10px; */padding-bottom:10px;/* margin-left:0; *//* margin-right:0; */text-align:center;width: 50px;display: inline-block;float: right;">
                                      <a data-toggle="modal" data-target="#addressModal" href="#">
                                      <img src="/static/images/plus.png" alt="Picture" style="width:auto;max-width:100%">
                                      </a>
                                  </div>
                              </div>
			      <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div>
                                 <div id="160172961544217299" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                                    <div id="address-section" style="padding-bottom:0px;">
                                       {% include "customers/profileShipping.html" %}
                                    </div>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                              
                              <div style="display: none;">
                              <div class="paragraph" style="text-align:left;margin-top:20px;"><strong>Connected Accounts</strong></div>
                              <div>
                                 <div class="wsite-multicol">
                                    <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                       <table class="wsite-multicol-table">
                                          <tbody class="wsite-multicol-tbody">
                                             <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                   <div>
                                                      <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                                      <hr class="styled-hr" style="width:100%;">
                                                      <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                                   </div>
                                                   <div>
                                                      <div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:left">
                                                         <a>
                                                         <img src="{% static "images/connectWithFB.png" %}" alt="Picture" style="width:193;max-width:100%">
                                                         </a>
                                                         <div style="display:block;font-size:90%"></div>
                                                      </div>
                                                   </div>
                                                   <div>
                                                      <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                                      <hr class="styled-hr" style="width:100%;">
                                                      <div style="height: 10px; overflow: hidden; width: 100%;"></div>
                                                   </div>
                                                </td>
                                                <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
                                                   <div class="wsite-spacer" style="height:50px;"></div>
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="wsite-spacer" style="height:50px;"></div>
      </div>
   </div>
   <!-- end container -->
</div>
<!-- end main-wrap -->
{% endblock %}

