                              {% load staticfiles %}

                              <div>
                                 <div class="wsite-image" style="padding-top:10px;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                                    <a>
                                    <img src="{% static "./images/default.jpeg" %}" alt="Picture" class="profile-pic">
                                    </a>
                                    <div style="display:block;font-size:90%"></div>
                                 </div>
                              </div>
                              <div class="paragraph" style="text-align:center;">{{ request.user.first_name}} {{ request.user.last_name }}</div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'customer' %}"><font color="#626262">Profile</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'history' %}"><font color="#626262">My Massages</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{%url 'customerPayment' %}"><font color="#626262">Payment</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'refer' %}"><font color="#626262">Free Massages</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="paragraph" style="text-align:left;"><a href="{% url 'logoutView' %}"><font color="#626262">Log Out</font></a></div>
                              <div>
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                                 <hr class="styled-hr" style="width:100%;">
                                 <div style="height: 0px; overflow: hidden; width: 100%;"></div>
                              </div>
                              <div class="wsite-spacer" style="height:50px;"></div>

